body{
    margin: 0px;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.name-highlight{
    color: #8a00fb;
}
.half-box{
    width: 36%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.half-box img{
    width: 100%;
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.text-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(217, 0, 255), rgb(162, 1, 255));
    padding: 10px 25px;
    border-radius: 5px;
}
.bottom-banner{
    background-image: url("Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right 1% bottom 25%;
}